@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');


body {
  background-color: hsl(222, 26%, 31%);
  font-family: 'Spartan', sans-serif;
}
.jumbotron {
  background-color: hsl(222, 26%, 31%);
}
.container {
  width: 542px;
  height: 715px;
  color: whitesmoke;
}

h1 {
  font-size: 1.5rem;
}

.card {
  margin-top:30px;
  background-color: hsl(224, 36%, 15%);
  color: whitesmoke;
  font-size: 2rem;
}

.numpad {
  margin-top:30px;
  padding: 20px 20px;
  background-color: hsl(223, 31%, 20%);
  height: 425px;
  color: whitesmoke;
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  width: 95px;
  height: 60px;
  margin-bottom: 20px;
  /* drop-shadow(offset-x offset-y blur-radius color) */
  filter: drop-shadow(0 5px 0 hsl(35, 11%, 61%))
}
.btn:hover{
  background-color:hsl(35, 11%, 80%);
}

.btn-wide {
  width: 220px;
  height: 60px;
  color:whitesmoke;
}

.btn-warning {
  font-size: .8rem;
  background-color: hsl(6, 63%, 50%);
  border-color: hsl(6, 63%, 50%);
  filter: drop-shadow(0 5px 0 hsl(6, 70%, 34%))
}
.btn-warning:hover {
  background-color: hsl(6, 63%, 70%);
  color:Whitesmoke;
}

.btn-info {
  font-size: .8rem;
  background-color: hsl(225, 21%, 49%);
  border-color: hsl(225, 21%, 49%);
  filter: drop-shadow(0 5px 0 hsl(224, 28%, 35%));
}
.btn-info:hover {
  background-color: hsl(225, 21%, 69%);
}
